# --------------------------------------------------------------------
# CODEIGNITER 4 ENVIRONMENT CONFIGURATION TEMPLATE
# --------------------------------------------------------------------

CI_ENVIRONMENT = development

# --------------------------------------------------------------------
# APP CONFIGURATION
# --------------------------------------------------------------------
app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureFinals = false

# --------------------------------------------------------------------
# DATABASE CONFIGURATION
# --------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = warhorse_db
database.default.username = root
database.default.password = ""
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
